[submodule ".registry"]
	path = .registry
	url = https://github.com/kbroman/kbroman.r-universe.dev
	branch = HEAD
[submodule "Rmaze"]
	path = Rmaze
	url = https://github.com/kbroman/Rmaze
[submodule "broman"]
	path = broman
	url = https://github.com/kbroman/broman
[submodule "circplot"]
	path = circplot
	url = https://github.com/kbroman/circplot
[submodule "craft"]
	path = craft
	url = https://github.com/kbroman/craft
[submodule "detectPVC"]
	path = detectPVC
	url = https://github.com/kbroman/detectPVC
[submodule "fingers"]
	path = fingers
	url = https://github.com/kbroman/fingers
[submodule "geesibsor"]
	path = geesibsor
	url = https://github.com/kbroman/geesibsor
[submodule "labstat"]
	path = labstat
	url = https://github.com/kbroman/labstat
[submodule "lineup"]
	path = lineup
	url = https://github.com/kbroman/lineup
[submodule "lineup2"]
	path = lineup2
	url = https://github.com/kbroman/lineup2
[submodule "lmmlite"]
	path = lmmlite
	url = https://github.com/kbroman/lmmlite
[submodule "mbmixture"]
	path = mbmixture
	url = https://github.com/kbroman/mbmixture
[submodule "miner"]
	path = miner
	url = https://github.com/kbroman/miner
[submodule "negenes"]
	path = negenes
	url = https://github.com/kbroman/negenes
[submodule "npem"]
	path = npem
	url = https://github.com/kbroman/npem
[submodule "qtl"]
	path = qtl
	url = https://github.com/kbroman/qtl
[submodule "qtlbook"]
	path = qtlbook
	url = https://github.com/kbroman/qtlbook
[submodule "qtlcharts"]
	path = qtlcharts
	url = https://github.com/kbroman/qtlcharts
[submodule "qtlsim"]
	path = qtlsim
	url = https://github.com/kbroman/qtlsim
[submodule "regress"]
	path = regress
	url = https://github.com/kbroman/regress
[submodule "ricalc"]
	path = ricalc
	url = https://github.com/kbroman/ricalc
[submodule "simcross"]
	path = simcross
	url = https://github.com/kbroman/simcross
[submodule "xoi"]
	path = xoi
	url = https://github.com/kbroman/xoi
[submodule "xoiGBS"]
	path = xoiGBS
	url = https://github.com/kbroman/xoiGBS
